1. Assignment Topic:

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.

2. Concrete Data:

For your convenience, the data can be found here again: https://cocl.us/concrete_data. To recap, the predictors in the data of concrete strength include:

Cement
Blast Furnace Slag
Fly Ash
Water
Superplasticizer
Coarse Aggregate
Fine Aggregate

In [1]:

import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:

concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

B. Normalize the data (5 marks)

Repeat Part A but use a normalized version of the data. 
Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

In [9]:


predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [10]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [11]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [14]:
# build the model
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [15]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
721/721 [==============================] - 1s 1ms/step - loss: 98876.7629
Epoch 2/50
721/721 [==============================] - 0s 152us/step - loss: 42866.3471
Epoch 3/50
721/721 [==============================] - 0s 149us/step - loss: 15506.2713
Epoch 4/50
721/721 [==============================] - 0s 134us/step - loss: 5635.9294
Epoch 5/50
721/721 [==============================] - 0s 179us/step - loss: 3550.5160
Epoch 6/50
721/721 [==============================] - 0s 185us/step - loss: 3248.1660
Epoch 7/50
721/721 [==============================] - 0s 132us/step - loss: 3148.9760
Epoch 8/50
721/721 [==============================] - 1s 721us/step - loss: 3040.9165
Epoch 9/50
721/721 [==============================] - 0s 167us/step - loss: 2877.1914
Epoch 10/50
721/721 [==============================] - 0s 129us/step - loss: 2385.7420
Epoch 11/50
721/721 [==============================] - 0s 160us/step - loss: 1946.5094
Epoch 12/50
721/721 [==============================] - 0s 158us/step - loss: 1593.0975
Epoch 13/50
721/721 [==============================] - 0s 144us/step - loss: 1312.7366
Epoch 14/50
721/721 [==============================] - 0s 145us/step - loss: 1101.4999
Epoch 15/50
721/721 [==============================] - 0s 138us/step - loss: 924.1119
Epoch 16/50
721/721 [==============================] - 0s 158us/step - loss: 789.3925
Epoch 17/50
721/721 [==============================] - 0s 141us/step - loss: 680.2133
Epoch 18/50
721/721 [==============================] - 0s 141us/step - loss: 596.0442
Epoch 19/50
721/721 [==============================] - 0s 165us/step - loss: 529.6805
Epoch 20/50
721/721 [==============================] - 0s 158us/step - loss: 478.8105
Epoch 21/50
721/721 [==============================] - 0s 141us/step - loss: 439.1230
Epoch 22/50
721/721 [==============================] - 0s 144us/step - loss: 403.0651
Epoch 23/50
721/721 [==============================] - 0s 161us/step - loss: 371.4769
Epoch 24/50
721/721 [==============================] - 0s 142us/step - loss: 346.3161
Epoch 25/50
721/721 [==============================] - 0s 136us/step - loss: 327.8274
Epoch 26/50
721/721 [==============================] - 0s 156us/step - loss: 305.7451
Epoch 27/50
721/721 [==============================] - 0s 144us/step - loss: 292.0914
Epoch 28/50
721/721 [==============================] - 0s 135us/step - loss: 274.3419
Epoch 29/50
721/721 [==============================] - 0s 158us/step - loss: 266.0924
Epoch 30/50
721/721 [==============================] - 0s 145us/step - loss: 250.6048
Epoch 31/50
721/721 [==============================] - 0s 140us/step - loss: 238.5232
Epoch 32/50
721/721 [==============================] - 0s 160us/step - loss: 228.2399
Epoch 33/50
721/721 [==============================] - 0s 139us/step - loss: 216.1370
Epoch 34/50
721/721 [==============================] - 0s 152us/step - loss: 205.1156
Epoch 35/50
721/721 [==============================] - 0s 142us/step - loss: 195.1088
Epoch 36/50
721/721 [==============================] - 0s 143us/step - loss: 185.4240
Epoch 37/50
721/721 [==============================] - 0s 141us/step - loss: 175.6555
Epoch 38/50
721/721 [==============================] - 0s 158us/step - loss: 165.4483
Epoch 39/50
721/721 [==============================] - 0s 139us/step - loss: 158.3568
Epoch 40/50
721/721 [==============================] - 0s 139us/step - loss: 151.3090
Epoch 41/50
721/721 [==============================] - 0s 142us/step - loss: 145.3718
Epoch 42/50
721/721 [==============================] - 0s 140us/step - loss: 144.7577
Epoch 43/50
721/721 [==============================] - 0s 188us/step - loss: 137.3832
Epoch 44/50
721/721 [==============================] - 0s 137us/step - loss: 134.0193
Epoch 45/50
721/721 [==============================] - 0s 140us/step - loss: 130.4984
Epoch 46/50
721/721 [==============================] - 0s 157us/step - loss: 125.0815
Epoch 47/50
721/721 [==============================] - 0s 143us/step - loss: 122.7098
Epoch 48/50
721/721 [==============================] - 0s 219us/step - loss: 121.8933
Epoch 49/50
721/721 [==============================] - 0s 165us/step - loss: 118.5617
Epoch 50/50
721/721 [==============================] - 0s 139us/step - loss: 116.6624

In [16]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 241us/step

112.20493805524215

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

112.20494015244202 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [20]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 44.39284473406844
MSE 2: 53.057362726205376
MSE 3: 46.75425348004091
MSE 4: 46.3382585642793
MSE 5: 48.06863661337053
MSE 6: 46.41961520543762
MSE 7: 51.08510893293955
MSE 8: 41.11601419047631
MSE 9: 44.3992937699105
MSE 10: 56.762750347841134
MSE 11: 48.26417439037928
MSE 12: 42.0385281522683
MSE 13: 49.630356705304486
MSE 14: 49.35339994955217
MSE 15: 46.60042810285747
MSE 16: 39.540948503611546
MSE 17: 43.93721447793411
MSE 18: 47.94564410089289
MSE 19: 45.95004565044514
MSE 20: 46.52333105266287
MSE 21: 39.04754179426767
MSE 22: 45.89865922156275
MSE 23: 44.917450630163295
MSE 24: 42.03522538367213
MSE 25: 45.736337223485066
MSE 26: 44.29414214594079
MSE 27: 46.27234624967606
MSE 28: 43.46216691273316
MSE 29: 55.38555932893722
MSE 30: 49.73182065895846
MSE 31: 49.003244023492805
MSE 32: 38.50879356236134
MSE 33: 46.47664402835191
MSE 34: 46.294046420495484
MSE 35: 46.44648787118856
MSE 36: 53.139038474814406
MSE 37: 54.70771483387376
MSE 38: 52.128978544068566
MSE 39: 42.692044773533894
MSE 40: 42.40320621725039
MSE 41: 50.78298874888991
MSE 42: 42.363560364855914
MSE 43: 43.77080856866435
MSE 44: 48.891256536094886
MSE 45: 50.06433989392129
MSE 46: 48.921047655124106
MSE 47: 55.66708709815559
MSE 48: 47.37733928594003
MSE 49: 52.38107438072032
MSE 50: 50.33629241498929


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 47.14630918724583
Standard Deviation: 4.279166566603094